.container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 0 2rem;
    font-family: 'Inter', sans-serif;
    color: white;
    box-sizing: border-box;
    left: 0;
    right: 0;
  }
  