.link {
    position: relative;
  }
  
  .active {
    position: relative;
  }
  
  .active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
  }
  
  @media screen and (max-width: 768px) {
    .active {
      font-weight: 600;
    }
    
    .active::after {
      display: none;
    }
  }